#ubcar-map-canvas {
	width: 100%;
	height: 500px;
	border-radius: 5px;
}

#ubcar-add-new-toggle,
.ubcar-forward-back-control,
.ubcar-edit-delete-control {
	cursor: pointer;
}

#ubcar-add-toggle-arrow {
	display: inline-block;
	margin-left: 10px;
}

.ubcar-add-media-video,
.ubcar-add-media-audio,
.ubcar-add-media-imagewp,
.ubcar-add-media-external,
.ubcar-add-media-wiki,
#ubcar-media-wiki-warning {
	display: none;
}

#ubcar-submission-description {
	width: 80%;
}

.ubcar-forward-back {
	display: block;
	float: right;
	margin-right: 20px;
}

.ubcar-table {
	width: 100%;
	padding-right: 10px;
}

.ubcar-table tr:nth-child(odd) {
	background: #b8ddf3;
}

.ubcar-table tr:nth-child(even) {
	background: #b8eef3;
}

.ubcar-table tr:first-child {
	background: #b8ccf3;
}

.ubcar-filter {
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.ubcar-filter form {
	display: inline;
}

#ubcar-media-filter-none {
	margin-left: 5px;
}

.ubcar-full-screen-popup {
	position: fixed;
	top: 10px;
	right: 10px;
	left: 10px;
	bottom: 10px;
	background: white;
	z-index: 100000;
	text-align: left;
	display: none;
}

.ubcar-tour-locations {
	float: left;
	width: 50%;
}

.ubcar-full-screen-popup h3 {
	text-align: center;
}

.ubcar-full-screen-popup .button {
	position: fixed;
	top: 20px;
	right: 20px;
}

.ubcar-tour-locations h4 {
	margin-top: 5px;
	text-align: center;
}

.ubcar-tour-locations ul {
	margin: 5px;
	padding: 5px;
	border: 1px solid grey;
	background: white;
	border-radius: 2px;
	overflow: scroll;
	max-height: 500px;
	min-height: 20px;
}

.ubcar-tour-locations ul li {
	margin: 4px;
	background: #EFEFEF;
	cursor: pointer;
}