@media only screen and (min-width:750px) {

	.ubcar-informational-left-column {
		width: 100%;
		height: 100%;
		padding-right: 0px;
		padding-bottom: 0px;
	}

	.ubcar-content {
		height: 800px;
		position: relative;
	}

	#ubcar-map-canvas,
	#ubcar-streetview-canvas {
		width: 100%;
		height: 100%;
		border-radius: 5px;
		border-color: #002145;
		z-index: 0;
	}

	.ubcar-accordion-header,
	.ubcar-header {
		width: 80px;
		height: 40px;
		border: 1px solid white;
		position: absolute;
	}

	#ubcar-accordion-header-layers {
		left: 5px;
		bottom: 85px;
	}

	#ubcar-accordion-header-tours {
		left: 90px;
		bottom: 85px;
	}

	#ubcar-title-search {
		width: 250px;
		left: 5px;
		bottom: 40px;
		overflow: hidden;
	}

	#ubcar-display-fullscreen {
		display: block;
		background: #002145;
	}

	#ubcar-search-input {
		width: 150px;
		height: 25px;
		z-index: 222222;
		vertical-align: middle;
	}

	#ubcar-search-button {
		width: 80px;
		height: 27px;
	}

	#ubcar-show-all {
		left: 175px;
		bottom: 85px;
	}

	#ubcar-header-aggregate {
		right: 10px;
		bottom: 315px;
		font-size: 12px;
		padding: 0px;
	}

	#ubcar-header-information {
		right: 10px;
		bottom: 270px;
		font-size: 12px;
		padding: 0px;
	}

	#ubcar-header-media {
		right: 10px;
		bottom: 225px;
		font-size: 12px;
		padding: 0px;
	}

	#ubcar-header-comments {
		right: 10px;
		bottom: 180px;
		font-size: 12px;
		padding: 0px;
	}

	#ubcar-header-comments-submit {
		right: 10px;
		bottom: 135px;
		font-size: 12px;
		padding: 0px;
	}

	#ubcar-header-media-submit {
		right: 10px;
		bottom: 90px;
		font-size: 12px;
		padding: 0px;
	}

	#ubcar-display-fullscreen {
		right: 10px;
		top: 10px;
	}

	#ubcar-display-choice-map {
		right: 10px;
		top: 55px;
	}

	#ubcar-display-choice-street {
		right: 10px;
		top: 100px;
	}

	.ubcar-display-fullscreen-move {
		top: 10px !important;
	}

	.ubcar-display-choice-map-move {
		top: 55px !important;
	}

	.ubcar-display-choice-street-move {
		top: 100px !important;
	}

	#ubcar-accordion-body-layers {
		position: absolute;
		left: 5px;
		bottom: 130px;
		width: 250px;
		border-width: 1px 1px 1px 1px;
		border-radius: 5px 5px 5px 5px;
		background: white;
	}

	#ubcar-accordion-body-tours {
		position: absolute;
		left: 5px;
		bottom: 130px;
		width: 250px;
		border-width: 1px 1px 1px 1px;
		border-radius: 5px 5px 5px 5px;
		background: white;
	}

	.ubcar-body {
		position: absolute;
		right: 95px;
		bottom: 90px;
		width: 40%;
		border: 1px solid #002145;
		border-radius: 5px;
	}

}
